
@font-face {
    font-family: Avenir Roman;
    src: url(./fonts/avenir-webfont/avenir_roman_12.woff) format('woff');
  }

body {
  margin: 0;
  font-family: Avenir Roman;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/blocks.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
